* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
}

h1 {
  margin: 20px 0 10px;
  font-size: 3rem;
  text-transform: uppercase;
}

ul {
  font-size: 24px;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
}

.fa-xmark {
  vertical-align: middle;
  margin-left: 10px;
}

.fa-xmark:hover {
  cursor: pointer;
}

.empty-list {
  font-size: 26px;
  background-color: yellow;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}

.input-box {
  display: flex;
  height: 50px;
  align-items: center;
  margin-bottom: 10px;
}

input {
  height: 35px;
  width: 250px;
  padding-left: 10px;
  font-size: 20px;
}

button {
  margin-left: 20px;
  padding: 5px;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

[v-cloak] {
  display: none;
}