* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  margin: 20px 0;
  font-size: 3rem;
  text-transform: uppercase;
}

ul {
  /* text-align: center; */
  font-size: 24px;
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}

.done {
  text-decoration: line-through;
}

.fa-xmark {
  vertical-align: middle;
  margin-left: 10px;
}

.fa-xmark:hover {
  cursor: pointer;
}

.empty-list {
  font-size: 26px;
  background-color: yellow;
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
}